
 
<div class="col-12 col-md-8 mb-2 mx-auto">
	<div class="card {% if not blog_post.publish_date %} border border-warning text-dark {% endif %}">
		<div class="card-body">

			<p class='lead'>Comments</p>
			<hr>
			{% for comment in comments %}
				<div class="panel panel-default">
					{{ comment.content }}
					<br>
					<small class="font-italic">posted by {{ comment.user }} | {{ comment.timestamp|timesince }} ago</small>
					<hr>
				</div>
			{% endfor %}

			<div class="offset-3 col-md-6">
			<form method="POST" action=".">
			{% csrf_token %}
			<div class="form-group">
			{{ comment_form.as_p }}
		</div>
			<input type="submit" value="Post comment" class="btn btn-primary">
			</form>
		</div>

		</div>
	</div>
</div>